main {
    margin-top: -13rem;
}

@media screen and (min-width: 360px) {
    main {
        margin-top: -10rem;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-top: -3rem;
    }
}

@media screen and (min-width: 1440px) {
    main {
        margin-top: -13rem;
    }
}


.home-texto {
    width: 15rem;
    margin: auto;
    margin-top: 1rem;
    color: var(--cor-primaria);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.pets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pet-card {
    z-index: -1;
    width: 100%;
    margin: 1rem 0;
    color: var(--cor-detalhes-escuro);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    background-color: var(--cor-detalhes-claro);
}

@media screen and (min-width: 768px) {
    .home-texto {
        margin: 4rem auto 1rem auto;
        width: 23rem;
    }

    .pets {
        flex-direction: row;
    }

    .pet-card {
        width: 22rem;
        margin: .5rem;
    }
}

.pet__img {
    float: left;
    margin: 1rem;
}

.pet__nome {
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-primaria);
    margin: 1rem 0;
}

.pet__informacoes p {
    margin: .4rem 0;
}

.pet__localizacao {
    margin: 1.2rem 0 .5rem 0;
}

.pet-responsavel__icon {
    float: left;
    margin-right: .5rem;
}

footer {
    margin: 0;
}